@model MiniHelpdesk.Models.CreateTicketViewModel

<h2>Nowe zgłoszenie</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FirstComment" class="form-label"></label>
        <textarea asp-for="FirstComment" class="form-control"></textarea>
        <span asp-validation-for="FirstComment" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}